<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
	
	$(document).ready(function() {
          
		$("#buscar_personaje").autocomplete({

			source : function(request, response) {
				$.ajax({
					url : "/cargar-personaje/" + request.term,
					dataType : "json",
					data : {
						term : request.term
					},
			 success : function(data) {
						response($.map(data, function(item) {
							return {
								value : item.id,
								label : item.nombre,
								edad  : item.edad,
								historia : item.historia,
							};
						}));
					},
				});
			},
    	
    	select : function(event, ui){
    		
    	if(itemsHelper.hasPersonaje(ui.item.value) || itemsHelper.existPersonaje(ui.item.value) ){
    		return false;
    	}
    		 
         var linea = $("#plantillaItemsPersonaje").html();
    		 
    		 linea = linea.replace(/{ID}/g,ui.item.value);
    		 linea = linea.replace(/{NOMBRE}/g,ui.item.label);
    		 linea = linea.replace(/{EDAD}/g,ui.item.edad);
    		 linea = linea.replace(/{HISTORIA}/g,ui.item.historia);
        
         $("#cargarItemsPersonas tbody").append(linea);  
            return false; 
    	 }
    		 
    	 });
    	 
    	 
       $("form").submit(function(){
	     $("#plantillaItemsPersonaje").remove();
		 return;
       });
    	 
    });
     
     
     var itemsHelper= {
    		 
    		 eliminarLineaPersonaje: function(id){
					$("#row_" + id).remove();
				},
				
				hasPersonaje: function(id){
					
					var resultado = false;
					
					$('input[name="item_id[]"]').each(function(){
						if(parseInt(id) == parseInt($(this).val()) ){
							resultado = true;
						}
					});
					
					return resultado;
				},
				
				existPersonaje: function(id){
					var exist = false;
					 
					$('input[name="form_id[]"]').each(function(){
						
						if(parseInt(id) == parseInt($(this).val()) ){
							exist = true;
						}
					});
					return exist;
				},
				
				eliminar: function(){
					
					var ss = $('input[name="form_id[]"]').val();
					console.log(ss);
					$("#row_" + ss).remove();
				}
				
	        
     }
    
    </script>


</body>
</html>