<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head">
</head>
<body id="page-top" class="bodyformar">
<!-- 	<header th:replace="layout/layout :: header"></header> -->
	<nav th:replace="layout/layout2 :: nav" ></nav>
	<section class="page-section portfolio" id="contenido">
	<div class="container py-4">
	     <div class="card bg-danger text-white">
	      <div class="card-header">Error: Acceso Denegado!</div>
	      <div class="card-body">
	       <h5>Lo sentimos <span th:text="${#httpServletRequest.remoteUser}"></span>, hubo un error inesperado en el servidor.</h5>
	        <a th:href="@{/}" class="btn btn-outline-light" role="button"> Ir a Inicio</a>
	      </div>
	     </div>
	
	</div>
	</section>
	<section class="fixed-bottom">
		<div class="footer-other">
			<footer th:replace="layout/layout2 ::footer"></footer>
			<div th:replace="layout/layout2 ::copyright"></div>
		</div>
	</section>
</body>
</html>