<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head">
</head>
<body id="page-top" class="bodyformar">
	<nav th:replace="layout/layout2 :: nav"></nav>

	<div th:replace="layout/layout2 :: alert"></div>

	<section class="page-section portfolio">
	
		<div class="container py-4 my-5">
	     <div class="card bg-info text-white">
	      <div class="card-header">Se ha enviado el correo!</div>
	      <div class="card-body">
	       <h5>Su mensaje ha sido enviado correctamente, en unos instantes un operador se comunicara con usted.</h5>
	        <a th:href="@{/}" class="btn btn-outline-light" role="button"> Ir a Inicio</a>
	      </div>
	     </div>
	
	</div>
	
    </section>
	<section class="fixed-bottom">
		<div class="footer-other">
			<footer th:replace="layout/layout2 ::footer"></footer>
			<div th:replace="layout/layout2 ::copyright"></div>
		</div>
	</section>
</body>
</html>