<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<!-- Header-->
	<div class="bg-secondary py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-warning">
				<h1 class="display-4 fw-bolder">Wiki Peliculas & Series</h1>
				<p class="lead fw-normal text-white-50 mb-0">Informacion y
					Actualidad.</p>
			</div>
		</div>
	</div>

	<main>
		<article>


			<!-- Section-->
			<section class="py-5">
				<div class="container-xxl px-4 px-lg-5 mt-5 mx-10 position-relative">
					<div class="row">
						<div class="col-3 my-2" th:each="pelicula : ${peliculas}">
							<div class="card" style="width: 18rem; align-items: center;">
								<img th:src="@{'/upload/'+${pelicula.imagen}}" th:alt="${pelicula.imagen}" class="img-thumbnail rounded float-start"
								style="width:300px; height:200px;">
								<div class="card-body">
									<h5 class="card-title text-secondary" th:text="${pelicula.titulo}"></h5>
									<p class="card-text">Some quick example text to build on
										the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-warning">Go somewhere</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
		</article>
	</main>

	<!-- Footer-->
	<footer th:replace="layout/layout :: footer"> </footer>

</body>
</html>
