<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<!-- Header-->
	<div class="bg-secondary py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-warning">
				<h1 class="display-4 fw-bolder">Wiki Peliculas & Series</h1>
				<p class="lead fw-normal text-white-50 mb-0">Informacion y
					Actualidad.</p>
			</div>
		</div>
	</div>

	<main>
		<article>
			<div class="container overflow-hidden my-5">
				<div class="container-fluid px-1">
					<div class="alert alert-secondary " role="alert">
						<h3>Peliculas Recomendas</h3>
					</div>
				</div>
				<hr />

			</div>

			<!-- Section-->
			<section>
				<div class="container overflow-hidden ">
					<div class="row gy-2">
						<div class="col-lg-3 py-3 d-flex align-items-stretch "
							th:each="pelicula : ${peliculas}">
							<div th:if="${pelicula.imagen != null}"
								class="card p-3 border bg-light  "
								style="width: 18rem; align-items: center;">
								<img th:src="@{'/upload/'+${pelicula.imagen}}"
									th:alt="${pelicula.imagen}"
									class="img-thumbnail rounded float-start"
									style="width: 300px; height: 200px;">
								<div class="card-body ">
									<h5 class="card-title text-secondary text-center "
										th:text="${pelicula.titulo}"></h5>
									<p th:text="${pelicula.descripcion}"></p>

								</div>
								<span><a class="btn btn-warning text-white px-5"
									th:text="'Visualizar'"
									th:href="@{'/pelicula-serie/ver/'}+${pelicula.id}"></a></span>
							</div>

						</div>

					</div>

				</div>

			</section>
			
				<div class="container overflow-hidden my-5">
				<div class="container-fluid px-1">
					<div class="alert alert-secondary " role="alert">
						<h3>Series Recomendas</h3>
					</div>
				</div>
				<hr />

			</div>

			<!-- Section-->
			<section>
				<div class="container overflow-hidden ">
					<div class="row gy-2">
						<div class="col-lg-3 py-3 d-flex align-items-stretch "
							th:each="serie : ${series}">
							<div th:if="${serie.imagen != null}"
								class="card p-3 border bg-light  "
								style="width: 18rem; align-items: center;">
								<img th:src="@{'/upload/'+${serie.imagen}}"
									th:alt="${serie.imagen}"
									class="img-thumbnail rounded float-start"
									style="width: 300px; height: 200px;">
								<div class="card-body ">
									<h5 class="card-title text-secondary text-center "
										th:text="${serie.titulo}"></h5>
									<p th:text="${serie.descripcion}"></p>

								</div>
								<span><a class="btn btn-warning text-white px-5"
									th:text="'Visualizar'"
									th:href="@{'/pelicula-serie/ver/'}+${serie.id}"></a></span>
							</div>

						</div>

					</div>

				</div>

			</section>
		</article>
	</main>

	<!-- Footer-->
	<footer th:replace="layout/layout :: footer"> </footer>

</body>
</html>
