<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout2 :: head">
</head>
<body id="page-top" style="height: 1500px">
	<nav th:replace="layout/layout2 :: nav"></nav>

	<div th:replace="layout/layout2 :: alert"></div>

	<section class="page-section portfolio">


		<div class="container">

			<div class="container overflow-hidden" th:if="${tipo  == 'PELICULA'}">
				<a sec:authorize="hasRole('ADMIN')" th:href="@{/peliculas}"
					th:if="${tipo != 'SERIE'}"> <img align="right"
					class="bg-white border border-dark" alt="ListadoPeliculaSerie"
					th:src="@{/imagen/baseline_list_black_24dp.png}">
				</a>
				<h2
					class="page-section-heading text-center text-uppercase text-secondary mb-0 "
					th:if="${tipo == 'PELICULA'}">Peliculas</h2>

			</div>

			<div class="container overflow-hidden" th:if="${tipo  == 'SERIE'}">
				<a sec:authorize="hasRole('ADMIN')" th:href="@{/series}"
					th:if="${tipo != 'PELICULA'}"> <img align="right"
					class="bg-white border border-dark" alt="ListadoPeliculaSerie"
					th:src="@{/imagen/baseline_list_black_24dp.png}">
				</a>
				<h2
					class="page-section-heading text-center text-uppercase text-secondary mb-0"
					th:if="${tipo  == 'SERIE'}">Series</h2>
			</div>
			<hr>


			<div class="row gy-2" th:if="${tipo == 'PELICULA'}">
				<div class="col-lg-3 py-3 d-flex align-items-stretch"
					th:each="peliculaSerie : ${trabajo}">

					<div class="portfolio-item mx-auto"
						th:if="${peliculaSerie.imagen != null}">



						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">

							<div
								class="portfolio-item-caption-content text-center text-white">
								<div>
									<i th:text="${peliculaSerie.titulo}"> </i>
								</div>
								<a class="btn btn-warning text-white my-2 "
									th:href="@{/pelicula-serie/ver/}+${peliculaSerie.id}">Detalle</a>
							</div>

						</div>
						<img class="img-fluid"
							th:src="@{'/upload/'+${peliculaSerie.imagen}}" alt="peliculas"
							style="width: 500px; height: 240px;" />



					</div>

				</div>
			</div>


			<div class="row gy-2" th:if="${tipo == 'SERIE'}">
				<!-- Portfolio Item 1-->

				<div class="col-lg-3 py-3 d-flex align-items-stretch"
					th:each="peliculaSerie : ${trabajo}">


					<div class="portfolio-item mx-auto"
						th:if="${peliculaSerie.imagen != null}">


						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div
								class="portfolio-item-caption-content text-center text-white">
								<div>
									<i th:text="${peliculaSerie.titulo}"></i>
								</div>
								<a class="btn btn-warning text-white my-2 "
									th:href="@{/pelicula-serie/ver/}+${peliculaSerie.id}">Detalle</a>
							</div>
						</div>
						<img class="img-fluid"
							th:src="@{'/upload/'+${peliculaSerie.imagen}}" alt="series"
							style="width: 500px; height: 240px;" />
					</div>
				</div>
			</div>

		</div>


	</section>

	<!-- 	 class="fixed-bottom" -->
	<section>
		<div class="footer-other">
			<footer th:replace="layout/layout2 ::footer"></footer>
			<div th:replace="layout/layout2 ::copyright"></div>
		</div>
	</section>




</body>
</html>

