<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
    </head>
    <body>
         
         <header th:replace="layout/layout :: header"></header>
            
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-4"><img class="img-fluid rounded mb-4 mb-lg-0" th:src="@{/upload/}+${trabajo.imagen}" th:alt="${trabajo.imagen}" /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light" th:text="${trabajo.titulo}"></h1>
                    <p th:text="${trabajo.sinopsis}"></p>
                    <a class="btn btn-warning" href="#!">Call to Action!</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5" th:each="personaje : ${trabajo.personajes}">
                    <div class="card h-100">
                        <div class="card-body">
                            <div><img class="img-thumbnail rounded float-start mx-4" th:alt="${personaje.imagen}" th:src="@{'/upload/'} + ${personaje.imagen}" style="width:300px; height:200px;"></div> 
                            <h2 class="card-title text-center" th:text="${personaje.nombre}"></h2>
                            <p class="card-text" th:text="${personaje.historia}"></p>
                        </div>
                        <div class="card-footer"><a class="btn btn-warning " th:href="@{'/personaje/ver/'}+${personaje.id}">Detalles</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
       <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>
