<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head">
</head>
<body id="page-top" class="bodyformar">
	<nav th:replace="layout/layout2 :: nav"></nav>

	<div th:replace="layout/layout2 :: alert"></div>
	
	
	<section class="page-section portfolio">
	<div class="container py-4">
		
		<div class="card bg-white text-light">
			
			<div class="card-header text-warning bg-white">
			      <h3 th:text="${titulo}"></h3>
			      
			      <a th:href="@{/personajes/mosaico}">
				  <img align="right" class="bg-white border border-dark" alt="mosaico" th:src="@{/imagen/baseline_dashboard_black_24dp.png}">
				</a>
			</div>
			
			

			<div class="card-body">
			             <a class="btn btn-warning text-white  my-1"
					th:href="@{/personajes/form}">Crear Personaje</a>
				
					<table class="table table-white table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Historia</th>
								<th>Editar</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="personaje : ${personajes}">

								<td><a class="btn btn-primary btn-xs"
									th:text="${personaje.id}"
									th:href="@{/personaje/ver/}+${personaje.id}"></a></td>
								<td th:text="${personaje.nombre}"></td>
								<td th:text="${personaje.historia}"></td>
								<td><a class="btn btn-success text-white"
									th:href="@{/personaje/editar/}+${personaje.id}">Editar</a></td>
								<td><a class="btn btn-danger text-white"
									th:href="@{/personaje/eliminar/}+${personaje.id}"
									onclick="return confirm('Esta seguro\a que quiere eliminar? ')">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
				
				<div class="alert alert-warning text-center" th:if="${size == 0 }"
					th:text="'No se encuentras registros guardados en la BD.'" ></div>
			   </div>
			   
			   <div class="container col-sm-3">
			     <nav th:replace="personaje/paginator-nav :: paginator" ></nav>
			   </div>  
			   
		</div>
		
	</div>
	</section>
	<section class="fixed-bottom">
	<div class="footer-other">
		<footer th:replace="layout/layout2 ::footer"></footer>
		<div th:replace="layout/layout2 ::copyright"></div>
	</div>
	</section>

</body>
</html>