<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h3></h3>
		<div class="card bg-dark text-light">
			<div class="card-header text-warning" >
			      <h3 th:text="${titulo}"></h3>
			      <a th:href="@{/personajes/mosaico}">
				  <img align="right" class="bg-white border border-dark" alt="mosaico" th:src="@{/imagen/baseline_dashboard_black_24dp.png}">
				</a>
			</div>
			
			

			<div class="card-body">
			             <a class="btn btn-warning text-dark  my-1"
					th:href="@{/personajes/form}">Crear Personaje</a>
				
					<table class="table table-dark table-striped" th:if="${#lists.isEmpty(personajes) == false}">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Historia</th>
								<th>Editar</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="personaje : ${personajes}">

								<td><a class="btn btn-primary btn-xs"
									th:text="${personaje.id}"
									th:href="@{/personaje/ver/}+${personaje.id}"></a></td>
								<td th:text="${personaje.nombre}"></td>
								<td th:text="${personaje.historia}"></td>
								<td><a class="btn btn-success text-white"
									th:href="@{/personaje/editar/}+${personaje.id}">Editar</a></td>
								<td><a class="btn btn-danger text-white"
									th:href="@{/personaje/eliminar/}+${personaje.id}"
									onclick="return confirm('Esta seguro\a que quiere eliminar? ')">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
				
				<div class="alert alert-success" th:if="${#lists.isEmpty(personajes)}"
					th:text="'No se encuentras registros guardados en la BD.'" ></div>
			   </div>
			   <div class="container col-sm-4">
			     <nav th:replace="personaje/paginator-nav :: paginator" ></nav>
			   </div>  
		</div>
		
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>